BOT_TOKEN=your_telegram_bot_token_here
API_URL=http://your-server-ip:8000
API_TOKEN=your_secret_api_token_here

POSTGRES_DB=name_db
POSTGRES_USER=name_user
POSTGRES_PASSWORD=password_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

BACKEND_PORT=8000

APP_ENV=development

DOCKERHUB_USERNAME=dockerhub_name
